@tailwind base;
@tailwind components;
@tailwind utilities;
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .search-input {
    padding: 16px 
  }
  
  .search-button {
    right: 102px;
    top: 6.5px
  }